

.kaufman__triangle { 
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: cover;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 0;
    bottom: 90px;
    overflow: hidden;
    animation: rotation linear 20s infinite;
  }